@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/animations";

//sections

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: $dark_white;
  overflow-x: hidden;
  a {
    text-decoration: none;
  }
}

// flex containers
body,
header,
.left-container,
.right-container,
.social-icons,
.download-buttons,
main,
section,
.review-container,
.review,
.feature-container,
.feature,
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body,
header,
.left-container,
.download-buttons,
main,
section,
.review-container,
.review,
.feature-container,
.feature,
 {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;

}

header,
.left-container,
.download-buttons {
  align-items: center;
}

body {
  margin: 0px;
  overflow-x: hidden;
}
// Header

header {
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  .left-container {
    justify-content: center;
    align-content: space-between;
    padding: 10px 10px 70px;
    @include animation(fade-in 1.2s forwards);


    #logo {
      width: calc(400px * .50);
      height: calc(110px * .50);
      background-image: url('../images/fl_logo_mobile_v2.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .tagline {
      max-width: 420px;
      margin-left: 20px;
      margin-right: 20px;
      h1 {
        font-size: 1.8em;
        letter-spacing: 1px;
        color: $black;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }

    .learn-more {
      @include opacity(0);
      width: calc(200px * .5);
      height: calc(60px * .5);
      line-height: calc(60px * .5);
      border: 2px solid $dark_red;
      @include border-radius();
      color: $dark_red;
      text-decoration: none;
      text-align: center;
      font-size: 1em;
      @include animation(fade-in .7s 3s forwards);
      @include transition(ease-in .2s);
      &:hover {
        background-color: $dark_red;
        color: $white;
        border-color: $dark_red;
        box-shadow: -3px 4px 5px 0px rgba(0, 0, 0, 0.2);
      }
    }

  }
  .right-container {
    display: none;
  }
}

main {
  margin-top: 50px;
  section {
    // border-top: 1px solid #ccc;
    .title {
      margin-top: 20px;
      width: 100%;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: $dark_red;

    }

    &#reviews {
      .content {
        margin-top: 20px;
        background-image: url('../images/reviews_background_small.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .reviews-container {
          padding-top: 50px;
          padding-bottom: 50px;
          max-width: 480px;
          margin: auto;
          padding-left: 20px;
          padding-right: 20px;
          .review {
            @include opacity(0);
            @include transform(translateY(100px));
            flex-direction: row;
            flex-wrap: wrap;
            width: 250px;
            margin-bottom: 10px;
            font-style: italic;
            &.left {
              float: left;
              margin-right: auto;
              p {
                &:after {
                  border-top: 8px solid $light_red;
                  border-left: 8px solid $light_red;
                  border-right: 8px solid transparent;

                }
              }
            }
            &.right {
              // float: right;
              margin-left: auto;
              .username {
                margin-left: auto;

              }
              p {
                &:after {
                  border-top: 8px solid $light_red;
                  border-right: 8px solid $light_red;
                  border-left: 8px solid transparent;
                  @include transform(translate(210px, 10px));
                }
              }

            }
            &.fadeUp {
              @include animation(fade-up .5s .5s forwards);
            }
            .username {
              margin-right: 5px;
              color: $dark_white;
            }
            .stars {
              i {
                color: rgb(255, 149, 0);
              }

            }
            p {
              font-size: .9em;
              letter-spacing: .1px;
              line-height: 1.3em;
              margin-top: 5px;
              background-color: $light_red;
              @include border-radius();
              padding: 10px;
              color: $white;
              box-shadow: -3px 4px 10px 0px rgba(0, 0, 0, 0.2);
              &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                border-bottom: 8px solid transparent;
                @include transform(translateY(10px));
              }
            }
          }

        }
      }
    }
    &#features {
      margin: 25px auto;
      max-width: 420px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
      .content {
        .features-container {
          margin-right: 20px;
          margin-left: 20px;
          .feature {
            margin-top: 25px;
            margin-bottom: 25px;
            align-items: center;
            .text-container {
              text-align: center;
              font-size: 1.5em;
              color: $black;
              p {
                @include opacity(0);
                @include transform(translateX(50px));
              }
            }
            .screenshot-container {
              img {
                @include border-radius();
                box-shadow: -3px 4px 5px 0px rgba(0, 0, 0, 0.2);
                @include opacity(0);
                @include transform(translateX(-50px));

              }
            }
            &:nth-child(even) {
              .screenshot-container {
                img {
                  @include transform(translateX(50px));
                }
              }
              .text-container {
                p {
                  @include transform(translateX(-50px));
                }
              }
            }
            &.animate {
              .text-container {
                p {
                  @include animation(fade-up .4s .8s forwards);
                }
              }
              .screenshot-container {
                img {
                  @include animation(slide-in-side .7s .8s forwards)
                }
              }

            }
          }
        }
      }
    }
    &#downloads {
      .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }
  }
}
footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 100px auto 15px;
  max-width: 1080px;
  border-top: 1px solid #ccc;
  p,
  a {
    text-align: center;
    color: $light_red;
    margin: 0px;
  }
  p {
    width: 100%;
  }
  a {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-item {
    margin: 5px 10px;
    &:nth-child(1){
      width: 100%;
      margin-right: auto;
    }
  }
}

// social icons
.social-icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  @include opacity(0);
  bottom: -150px;
  left: calc(50% - (220px * .75 / 2));
  width: calc(220px * .75);
  @include animation(social-icon-slide-up .6s .8s forwards);
  .icon {
    width: 60px;
    height: 60px;
  }

  a {
    margin: auto;
    .icon {
      width: calc(60px * .75);
      height: calc(60px * .75);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include border-radius(100%);
      box-shadow: -3px 4px 5px 0px rgba(0, 0, 0, 0.2);
      @include transition(linear .2s);
      &:hover {
        @include transform(scale(1.1));
      }
      &.facebook {
      }
      &.twitter {
      }
      &.mail {
      }
    }
  }
}
// Download buttons
.download-buttons {
  margin-top: 20px;
  margin-bottom: 20px;

  .button {
    width: calc(300px * .50);
    height: calc(85px * .50);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include border-radius(10px);
    box-shadow: -3px 4px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
    &.ios {
      background-image: url('../images/ios_download.png');
    }
    &.gp {
      background-image: url('../images/gp_download.png');
    }
  }
}

//Landscape handheld devices
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  header {
    .left-container {
      flex-basis: 45%;
      padding: 0px;
    }
  }

  .social-icons {
    left: auto;
    right: 10px!important;
  }

}

@media screen and (max-width: 750px) {
  header {
    background-image: url('../images/mobile_background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }
}

@media screen and (min-width: 640px) and (max-width: 980px) {
  main {
    section {
      &#reviews {
        .content {
          background-image: url('../images/reviews_background_med.jpg');
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  main {
    section {
      &#features {
        margin: auto;
        max-width: 750px;
        .content {
          .features-container {
            .feature {
              margin-bottom: 50px;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                      flex-direction: row;
              .text-container {
                font-size: 2.2em;
                padding-left: 20px;
                text-align: left;
                p {

                }
              }
              .screenshot-container {
                -webkit-flex-basis: 600px;
                -ms-flex-preferred-size: 600px;
                    flex-basis: 600px;
                -webkit-align-self: center;
                -ms-flex-item-align: center;
                    align-self: center;
                img {
                  display: block;
                  margin: auto;
                }

              }
              &:nth-child(even) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -webkit-flex-direction: row-reverse;
                    -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                .text-container {
                  padding-right: 20px;
                }
                .screenshot-container {
                  img {
                    @include transform(translateX(50px));
                  }

                }
              }

            }
          }
        }
      }
    }
  }
  footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .footer-item {
      margin: 10px 5px;
      &:nth-child(1){
        width: auto;
      }
    }
  }
}

// Bigger Screens

@media screen and (min-width: 980px){

    html {
      font-size: 16px;
    }
    header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      // padding-left: 20px;
      // padding-right: 60px;

      .left-container {
        -webkit-flex-basis: 65%;
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
        padding: 0px;
        #logo {
          background-image: url('../images/fl_logo_desktop_v2.png');
          width: 400px;
          height: 110px;
        }

        .tagline {
          h1 {
            // color: $light_red;
            font-size: 2.2em;
          }
        }

        .learn-more {
          width: 200px;
          height: 60px;
          line-height: 60px;
          font-size: 1.5em;
        }
      }
      .right-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-basis: 35%;
            -ms-flex-preferred-size: 35%;
                flex-basis: 35%;

        .iphone-display {
          img {
            position: absolute;
            @include opacity(0);
            top: calc(50% - 75vh);
            right: 5%;
            @include animation(slide-down .6s .8s forwards);
          }
        }
      }

    }

    main {
      section {
        .title {
          font-size: 2.5em;
        }

        &#reviews {
          .content {
            width: 100%;
            background-image: url('../images/reviews_background_large.jpg');
            .reviews-container {
              max-width: 740px;
              .review {
                width: 380px;

                &.right {
                  p {
                    &:after {
                      @include transform(translate(340px, 10px));
                    }
                  }
                }

              }
            }
          }
        }
        &#features {
          max-width: 1080px;
          margin-top: 50px;
        }
      }
    }

    // Download buttons
    .download-buttons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 30px;
      margin-bottom: 30px;

      .button {
        width: calc(300px * .7);
        height: calc(85px * .7);
        @include border-radius(10px);
      }
    }

    /// social icons
    .social-icons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      right: 10%;
      left: auto;
      bottom: auto;
      height: 200px;
      top: calc(50% - (200px / 2));
      width: auto;
      .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        right: -500px;
        bottom: auto;
        @include animation(social-icon-slide-in-right .5s forwards);
        &.facebook {
          animation-delay: 1.5s;
        }
        &.twitter {
          animation-delay: 1.55s;
        }
        &.mail {
          animation-delay: 1.6s;
        }
      }
    }

}


@media screen and (min-width: 1480px){

  header {
    .left-container {
      .tagline {
        max-width: 640px;

        h1 {
          font-size: 3em;
        }
      }
    }
    .right-container {
      .iphone-display {
        img {
          right: 10%;
        }
      }
    }
  }
}

// Remodal CSS
.remodal {
  max-height: 95vh;
  overflow: scroll;
  overflow-x: hidden;
  h1 {
    color: $dark_red;
  }
  h2 {
    margin: 0px;
  }
  .content {
    .level {
      text-align: left;
      &.first {
        padding-left: 10px;
        padding-bottom: 10px;
      }
      &.second {
        padding-left: 10px;
      }
      &.third {
        padding-left: 10px;
        p {
          margin: 0px;
        }
      }
    }
  }
}
